@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{ margin: 0;
padding: 0;
box-sizing: border-box;}

body {
 
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



html, body, #root, .full-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.container-fluid.h-100 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row.flex-grow-1 {
  flex: 1;
  display: flex;
}


